@charset "utf-8";
/* core.css - 중요공통기능 */

@font-face {
    
    font-family:sports;
    src:url(../fonts/SportsWorld.woff) format('woff'),
        url(../fonts/Sports_World-Regular.ttf) format('truetype');
        
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



/*


font-family:'Noto Sans KR', sans-serif;
font-weight: 400;
font-style: normal;

*/


/* 웹폰트 */


/*[ 웹폰트 지정형식 ]
@font-face {
    
    font-family: 내가지은이름;
    src:url(경로.ttf) format("truetype"),
        url(경로.woff) format("woff")
        
}
- woff는 데스크탑 브라우저용 웹폰트 확장자
- ttf는 모바일 브라우저용 웹폰트 확장자
= format(형식명)은 명시적으로 확장자를 지정하여 웹폰트 로딩을 빠르게 함.
- import 형식은 최대치를 불러오게함. */

/* 공통 */

body {
    
    font-family:sports, 'Noto Sans KR', sans-serif;
    color: #808080;
    /*line-height: 136%; 16보다 36%가 큰*/
    font-size: 12px;
}


input, textarea {
	color: #fff;
    font-size: 1.25rem;
    font-family:'Noto Sans KR', sans-serif;
}



/* 공통클래스 */

/* 중앙정렬 속박스 */
.inbox {
    
    width: 1440px;
    max-width: 100%;
    margin:0 auto;
    
}

/* IR(Image replacement) class */
/* ir 안보이게 (하지만 리더기가 읽음) */
.ir {
    
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    
}

/* 비율 유지 class */

.rbx {
    
    position: relative;
}

.rbx::before{
    
    content:"";
    display: block;
    padding-top: 70%; /* 비율에 따라 변경 */
}

/* 비율유지 속박스 */
.ibx { 
    
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}